# Token do bot Discord (https://discord.com/developers/applications)
BOT_TOKEN="seu_token_aqui"

# Supabase (mesmo do site)
SUPABASE_URL="https://knblquodwssbujrihfhl.supabase.co"
SUPABASE_SERVICE_KEY="sua_service_role_key_aqui"

# IDs do servidor Discord
GUILD_ID=1489816482618671265
ROLE_ID_DESCONTO=1464637849788748137
CHANNEL_ID_PEDIDOS=1468596651999625367
CATEGORY_ID_TICKETS=1379178961560539226
CHANNEL_ID_TICKET_PANEL=1468598790331174922
